section {
  margin:0;
  background-color: #FFC75F;
}

.section-text {
  font-family: 'Love Ya Like A Sister', cursive;
  color:#fff;
}

.body-text {
  font-family: 'Sanchez', serif;
  color: #fff;
  text-align: center;
  }

  .input-textbox {

  }


  